<div id="contact-dialog" class="dialog modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title updt title">Contact Argosity, the creators of Stockor</h4>
      </div>
      <div class="modal-body">
        <p>
          This form is an example of Stockor's embedding.
          It's remotely loaded from <a href="http://argosity.com/">Argosity's</a>
          <a href="http://stockor.com/">Stockor.com</a> account
        </p>
        <p>
          You can also contact Argosity at <a href="mailto:contact@argosity.com">contact@argosity.com</a>,
          or phone at (855) 559-0061.
        </p>

        <div class="content"></div>
        <p class="updt lead bottom_lead"></p>
      </div>
      <div class="modal-footer hidden">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
