<div class="page-footer">
  <p class="lead">Get in Touch</p>
  <p>We want to hear from you!  There's several ways to contact us:</p>

  <div class="links">

    <a class="thumbnail" href="http://github.com/argosity/" target="_blank">
      <b>GitHub</b>: Our source-code and issues are here. Join in and contribute!
    </a>

    <a class="thumbnail" href="http://twitter.com/stockorhq" target="_blank">
      <b>@StockorHQ</b>: For general praise, and other chitter chatter tweets.
    </a>

    <a class="thumbnail" href="https://botbot.me/freenode/argosity/#" target="_blank">
      <b>IRC</b>: You can usually find Nathan in #argosity on irc.freenode.net
    </a>

    <a class="contact-us thumbnail" href="#">
      <b>Contact Directly</b>:  Got a message directly for us?  Submit it here.
    </a>

  </div>

</div>
