.os-progress {

    .dotorgsrc {
        margin: 10px 40px;
        text-align: center;
    }

    .work-unit {
        
        display: table-row;

        .prg {
        

            display: table-cell;
            border-top: 1px solid grey;
            width: 40px;
            background: -moz-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(117,117,117,0.65) 54%, rgba(0,0,0,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.65)), color-stop(54%,rgba(117,117,117,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(117,117,117,0.65) 54%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(117,117,117,0.65) 54%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(117,117,117,0.65) 54%,rgba(0,0,0,0) 100%); /* IE10+ */
            background: linear-gradient(to right, rgba(255,255,255,0.65) 0%,rgba(117,117,117,0.65) 54%,rgba(0,0,0,0) 100%); /* W3C */

        }

        .txt {
            padding-left: 30px;
            display: table-cell;

            p { margin-bottom: 0px; }
            padding-bottom: 10px;
            padding-top: 10px;

            .links {
                text-align: left;
            }
        }

        &.comp {
            .prg {
                background: #f0b7a1; /* Old browsers */
                background: -moz-linear-gradient(left, #f0b7a1 0%, #cc1818 40%, #752201 57%, #bf6e4e 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f0b7a1), color-stop(40%,#cc1818), color-stop(57%,#752201), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left, #f0b7a1 0%,#cc1818 40%,#752201 57%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left, #f0b7a1 0%,#cc1818 40%,#752201 57%,#bf6e4e 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left, #f0b7a1 0%,#cc1818 40%,#752201 57%,#bf6e4e 100%); /* IE10+ */
                background: linear-gradient(to right, #f0b7a1 0%,#cc1818 40%,#752201 57%,#bf6e4e 100%); /* W3C */

            }
        }
       
    }
    .work-unit.top {
        .prg {
            height: 10px;
            border-top-right-radius: 8px;
            border-top-left-radius:  8px;
        }
    }

    .work-unit.bottom {
        border-left: 0;
        .prg {
            height: 30px;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius:  30px;
        }
        .txt {
            border-left: 0; 
        }
    }
 
   
}


