body { padding-top: 20px; }

.docs {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    a {
        border-radius: 0 0 0 8px;
        display: block;
        padding: 10px;
    }
}
.content .page-header {
    margin-top: 0px;
}


/* post-full*/
.post-full .date {
  margin-bottom:20px;
  font-weight:bold;
}

.page-header {
  margin-top: 20px;
}

.page-header .date {
  text-align: right;
  font-weight: bold;
}

