body { padding-top: 20px; }


.content .page-header {
    margin-top: 0px;
}


/* post-full*/
.post-full .date {
  margin-bottom:20px;
  font-weight:bold;
}

.page-header {
  margin-top: 20px;
}

.page-header .date {
  text-align: right;
  font-weight: bold;
}

