
.page-footer {

  text-align: center;
  p {
      margin-bottom: 3px;
  }

  a {
      display: inline-block;
      height: 100px;
      width: 150px;
      vertical-align: top;

      &:hover{
          text-decoration: none;
          @include box-shadow(0 5px 15px rgba(0,0,0,.5));
      }
      b {
          color: $gray-darker;
      }
  }
}
