<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{# page.description }}
      <meta name="description" content="{{ . }}">
    {{/ page.description }}
    {{# stylesheets.load }}
      application.css
    {{/ stylesheets.load }}
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body class="{{page.cssclass}}">
    <div class="docs"><a class="btn btn-primary" href="/core/doc/">API Docs</a></div>
    <div class="container">
      <div class="content">
        {{{ content }}}
      </div>

      <hr>
      {{>page-footer}}

    </div>
    {{> contact-dialog }}

    {{{ widgets.analytics }}}
    {{# javascripts.load }}
    application.js
    {{/ javascripts.load }}
    <!-- loads the embedding javascript for contact form -->
    <script data-skr="true" src="http://argosity.stockor.com/assets/embed/sales.js"></script>

  </body>
</html>
